#singer-pic{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
#logo{
    width: 150px;
}
.my-col-1{
    width: 15%;
}

.singer-container{
    padding-top: 80px;
}

hr{
    margin: 0;
}

.my-col-2{
    width: 100%;
    background: linear-gradient(180deg, #90AEA7 0%, #000 89.7%);
}

.my-row-1{
    height: 40%;
    padding-top: 0px;
    background-color: #748c86;
}

.my-row-1>img{
    width: 200px;

}

.my-row-1-col-2 h1{
    font-size: 50px !important;
}

.bottom-container{
    background-color: rgba(0, 0, 0, 0.15);
    height:60%;
    width: 100%;
}

#bottom-playmusic{
    width: 40px;
}

#bottom-heart{
    width: 30px;
}

#bottom-more{
    width: 30px;
}

.bottom-row-1{
    padding-top: 30px;
}

.bottom-title p{
    font-size: 10px;
}

.bottom-songs{
    height: 400px;
}

#bottom-song-name{
    font-size: 10px;
}

#bottom-singer-name{
    font-size: 8px;
}

.music-name img{
    width:40px;
    height: 40px;
}

.album{
    font-size: 10px;
}

#duration-heart{
    width: 20px;
    margin: 0;
}

#duration-more{
    width: 20px;
    margin: 0;
}

.duration p{
    font-size: 10px;
    margin: 0;
}

.date-added{
    font-size: 10px;
}

table{
    width: 100%;
    text-align: center;
}
tr{
    text-align: center;
}
td{
    text-align: center;
}
table{
}
td{

    padding: 10px;
}


tr:hover{
    opacity: 0.7;
    background-color: black;
}

footer{
    height: 80px;
}